[user]
  name = Emily
  email = etacarinaea@protonmail.com
[push]
  default = simple
[alias]
  ls = log --decorate --format=format:'%C(red)%h%C(reset) %C(bold green)(%ar)%C(reset) %s%C(blue) - %an%C(reset)%d'
  ll = log --decorate --numstat --format=format:'%C(red)%h %C(reset)%s%C(blue) - %an%C(reset)%d'
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(reset) - %s%C(blue) - %an%C(reset)%d' --all
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
  excludesfile = /home/yuki/.gitignore_global
