Xft.dpi:                96
Xft.antialias:          false
Xft.hinting:            true
Xft.rgba:               rgb
Xft.autohint:           false
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault

URxvt*geometry:         83x21
URxvt*scrollBar:        false


URxvt*foreground:       #aaaaaa
URxvt*background:       #1f1f22
URxvt*cursorColor:      #aaaaaa

! black
URxvt*color0:           #151517
URxvt*color8:           #272727

! red
URxvt*color1:           #8d2036
URxvt*color9:           #ce0a31

! green
URxvt*color2:           #30362f
URxvt*color10:          #67735e

! yellow
URxvt*color3:           #776e53
URxvt*color11:          #b7a876

! blue
URxvt*color4:           #364150
URxvt*color12:          #515a69

! magenta
URxvt*color5:           #443337
URxvt*color13:          #613e46

! cyan
URxvt*color6:           #525c5d
URxvt*color14:          #8f9293

! white
URxvt*color7:           #3f3f3f
URxvt*color15:          #cacaca


URxvt*font:             xft:tewi:pixelsize=10
URxvt*boldFont:         xft:tewi:pixelsize=10


URxvt*internalBorder:   0


URxvt*perl-ext-common:  default,clipboard
URxvt*perl-ext:         default,clipboard


