*geometry:          83x21
*scrollBar:         false


*foreground:        #D9D0CA
*background:        #181412
*cursorColor:       #b9b0aa

*color0:            #100b08
*color8:            #736155

*color1:            #415C56
*color9:            #415C56

*color2:            #537266
*color10:           #537266

*color3:            #87691b
*color11:           #87691b

*color4:            #807c42
*color12:           #807c42

*color5:            #c2cf97
*color13:           #c2cf97

*color6:            #ddd08f
*color14:           #ddd08f

*color7:            #b9b0aa
*color15:           #b9b0aa

*color66:           #100b08


*font:              xft:gohufont:pixelsize=14, xft:Anonymous Pro for Powerline:pixelsize=14
*boldFont:          xft:gohufont:pixelsize=14, xft:Anonymous Pro for Powerline:pixelsize=14


*letterSpace:       1
*lineSpace:         2

*internalBorder:    50


URxvt*perl-ext-common:      default,url-select,keyboard-select,selection-to-clipboard
URxvt*url-select.launcher:  /usr/bin/xdg-open
URxvt*url-select.underline: true

