.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  /* DejaVu Sans is close to Hack */
  font-family: DejaVu Sans, arial;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #e4e6eb;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #282a36;
}

.content {
  text-align: left;
}

.cloze {
  color: #c37cfe;
}

.mjx-chtml {
}

strong {
  color: #9399fe;
  font-weight: 400;
}
em {
  font-family: DejaVu Serif, serif;
}

.tags {
  align-self: center;
  font-size: 0.7em;
  color: #595c72;
}

img {
  display: block;
  margin: 0 auto;
}
