@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --tab-background: #2b323b;
  --tab-foreground: #aaaaaa;
  --tab-background-selected: #22272e;
  --tab-foreground-selected: #aaaaaa;
  --tab-height: 15px;
}



/* TABBAR */
#TabsToolbar {
    height: var(--tab-height)!important;
}
#TabsToolbar * {
    background-image: none!important;
}
#TabsToolbar #tabbrowser-tabs {
    background-color: var(--tab-background)!important;
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned]) {
    text-align:center!important;
    color: var(--tab-foreground)!important;
    background-color: var(--tab-background)!important;
}
.tabbrowser-tab[selected] > * {
    color: var(--tab-foreground-selected)!important;
    background-color: var(--tab-background-selected)!important;
}
.tabbrowser-tab[selected] .tab-background-middle {
    background-color: var(--tab-background-selected)!important;
}
#TabsToolbar .box-inherit.scrollbox-innerbox {
    margin: -15px!important;
}
.tab-background,
.tabs-newtab-button {
    -moz-margin-end: 0px!important;
    -moz-margin-start: 0px!important;
}
.tabbrowser-tab::before,
.tabbrowser-tab::after {
    display: none!important;
}

/* URLBAR/NAVBAR */

#nav-bar {
    box-shadow: none!important;
}
#nav-bar,
#nav-bar * {
    border: none!important;
    background-image: none!important;
    background-color: var(--tab-background-selected)!important;
    height: var(--tab-height)!important;
}

#urlbar {
    color: var(--tab-foreground-selected)!important;
    margin-left: 10px!important;
}


/* SIDEBAR */

#sidebar-splitter,
.textbox-search-icons {
    display: none!important;
}
#sidebar-search-container,
#sidebar-box * {
    color: var(--tab-foreground)!important;
    background-color: var(--tab-background-selected)!important;
}

#sidebar-header,
#sidebar-search-container {
    padding: 6px!important;
}
#sidebar-title {
    margin-left:2px!important;
}

#search-box,
#search-box * {
    -moz-appearance: none!important;
    background-color: var(--tab-background)!important;
    border: none!important;
}

#bookmarks-view {
    -moz-appearance: none!important;
    border: 6px solid var(--tab-background-selected)!important;
    padding: 10px!important;
}
#bookmarks-view,
#bookmarks-view * {
    color: var(--tab-foreground)!important;
    background-color: var(--tab-background)!important;
}

/* CONTENT DECK */

#content-deck {
    margin-top: -1px!important;
}

tabbrowser tabpanels {
    background-color: var(--tab-background-selected)!important;
}

/* HIDDEN */


.tab-background-start,
.tab-background-end {
    visibility: hidden!important;
}

#TabsToolbar .tabs-newtab-button,
#TabsToolbar .scrollbutton-up,
#TabsToolbar .scrollbutton-down,
#TabsToolbar .chromeclass-toolbar-additional,
.tabbrowser-tab .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image,
.tab-close-button,
.tab-icon-sound,
#urlbar-container #back-button,
#urlbar #notification-popup-box,
#urlbar #identity-box,
#urlbar #urlbar-icons,
#urlbar .chromeclass-toolbar-additional,
#abp-toolbarbutton,
.autocomplete-history-dropmarker.urlbar-history-dropmarker,
#nav-bar #search-container,
#nav-bar .chromeclass-toolbar-additional {
    display: none!important;
}
