.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: DejaVu Sans, arial;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #e4e6eb;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282a36;
}

.content {
  text-align: left;
  max-width: 700px;
}

.cloze {
  color: #c37cfe;
}

strong {
  color: #9399fe;
  font-weight: 600;
}
em {
  font-family: DejaVu Serif, serif;
}

hr {
  height: 1px;
  border: none;
  margin: 1em 0;
}

.notes {
  align-self: center;
  font-size: 0.7em;
  color: #595c72;
  max-width: 700px;
}
.notes hr {
  height: 1px;
  background-color: #595c72;
  border: none;
}

.tags {
  align-self: center;
  font-size: 0.7em;
  color: #595c72;
  max-width: 700px;
}

img {
  display: block;
  margin: 0 auto;
}
